/*HEADER*/
.primary-container {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px 5px 10px 5px;
    height: 520px;
}

.header-container { 
    display: flex;
    justify-content: space-around;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.link-option {
    font-size: 18px;
    color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    padding: 8px;
}


/*SECOND CONTAINER*/
.second-container {  
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.website-info, .placeholder-image {
    width: 400px;
    height: 300px;
    padding: 15px;
}

.top-image {
    width: 400px;
    height: auto;
}

.main-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 700;

}

.about-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.first-button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 5px; 
    width: 100px;
    height: 30px;
}


/*INFORMATION CONTAINER */
.third-container {
    padding: 10px 0 40px 0;
    height: 450px
}

.information-header {
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.information-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
}

.information {
    width: 200px;
    height: 200px;
    padding: 20px;
}

.info-pic{
    width: 180px;
    height: auto;
    border-radius: 10px; /* round the corners of the element*/
    border-color: #3882F6;
    border-style: solid;
}

.subtext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #1F2937;
}


/* QUOTE CONTAINER */
.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px 0 70px;
    height: 400px;
}

.quote-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    padding: 20px 250px 20px 250px;
    margin: 20px 0 20px 0;
}

.quote-author {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: end;
    padding: 0px 250px 20px 250px;
    margin: 0px 0 20px 0;
}


/*SING UP CONTAINER*/
.sign-up-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.sign-up-box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 350px;
    background-color: #3882F6;
    width: 1000px;
    height: 150px;
    border-radius: 15px;
}

.call-to-action-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #E5E7EB;
}

.call-to-action-statement {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}

.second-button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 15px;
    border-radius: 5px;
    border-color: #F9FAF8;
    border-style: solid;
    width: 100px;
    height: 30px;
}


/* FOOTER */
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 120px;
}

.footer-text {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
}

/* the end :)*/